<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Votación</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="contenedor">
        <h1>Sistema de Consulta de Votación</h1>
        <div class="acciones">
            <a href="/registro"><button type="button">Registrar Ciudadano</button></a>
            <a href="/consulta"><button type="button">Consultar Votación</button></a>
            <a href="/consulta"><button type="button" style="background:#555">Ver Resultados</button></a>
        </div>
    </div>
</body>
</html>